:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-tooltip {
  margin-top: 28px !important;
  margin-bottom: 0px !important;

  @media screen and (max-width: 760px) {
    display: none;
  }
}

::ng-deep .mat-tooltip-handset {
  font-size: 10px !important; 
  padding-top: 6px !important; 
  padding-bottom: 6px !important; 

  // @media screen and (max-width: 760px) {
  //   display: none;
  // }
}

#bg {
  filter: brightness(0.25);
  background: url(../assets/bg.webp) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -199;
}

header {
  padding: 40px;
  color: white;

  h1 {

    display: inline-block;
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 15px;
    margin: 0 0 0 4px;
    color: white;

    > span {
      text-transform: uppercase;
      font-size: 55px;
      letter-spacing: 15px;
      margin: 0 0 0 4px;
      color: white;
      transition: color .2s ease-in;
    }

    .blue {
      &:hover {
        color: #4285F4;
        transform: rotate3d(0, 1, 0, 30deg);
      }

      &.now {
        color: #4285F4;
      }
    }

    .red {
      &:hover {
        color: #DB4437;
      }

      &.now {
        color: #DB4437;
      }
    }

    .yellow {
      &:hover {
        color: #F4B400;
      }

      &.now {
        color: #F4B400;
      }
    }

    .green {
      &:hover {
        color: #0F9D58;
      }

      &.now {
        color: #0F9D58;
      }
    }
  }

  div {
    padding: 25px 0 0 0 ;
  }

  span.skill {
    padding: 0 8px 0 8px;
    opacity: 0.7;
    font-weight: 300;
  }

  @media screen and (max-width: 480px) {
    h1 {
      // display: flex;
      // justify-content: center;
      margin: 0;
    }

    div {
      display: flex;
      flex-direction: column;
    }

    span.skill {
      padding: 8px 0 8px 0;
      opacity: 0.7;
      font-weight: 300;
    }
  }
}

footer {
  width: 100%;
  display: flex;
  color: white;
  // position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  padding-bottom: 12px;


  @media screen and (max-width: 760px) {
    justify-content: flex-end;
  }

  fa-icon {
    margin-left: 12px;
    cursor: pointer;
    transition: color .3s ease-in;
    &:hover {
      color: hsl(151, 44.7%, 50%);      
    }
  }

  #terminalIcon {
    @media screen and (max-width: 760px) {
      display: none;
    }
  }
}

#content {
  // width: 100%;
  // height: 100%;
  // position: fixed;
  flex: 1;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  > #terminal {
    border-radius: 3px;
    padding: 5px;
    background: linear-gradient(to right, red, purple);
    width: 650px;
    height: 394px;

    margin-bottom: 12px;
    margin-left: 12px;
  }
}