<header>
  <h1>
    <span class="blue" [class.now]="t">T</span>
    <span class="red" [class.now]="o">O</span>
    <span class="yellow" [class.now]="n">N</span>
    <span class="blue" [class.now]="y">Y</span>
  </h1>
  <h1>

    <span class="green" [class.now]="l">L</span>
    <span class="red" [class.now]="i">I</span>
    <span class="yellow" [class.now]="nn">N</span>
  </h1>
  <div>
    <span class="skill">IoT</span>
    <span class="skill">Javascript</span>
    <span class="skill">Node.js</span>
    <span class="skill">Angular</span>
    <span class="skill">C++</span>
    <span class="skill">MQTT</span>
    <span class="skill">CoAP</span>
    <span class="skill">Modbus</span>
  </div>
</header>

<div id="bg">

</div>


<div id="content">
  <div id="terminal" #terminal *ngIf="terminalOn"></div>
</div>

<footer>
  <div id="terminalIcon">
    <fa-icon #tooltipTerminal="matTooltip" [icon]="faTerminal" (click)="toggleTerminal()"
      matTooltip="Click to activate terminal to see more!" matTooltipPosition="right"></fa-icon>
  </div>
  <div>
    <fa-icon size="lg" [icon]="faNpm" (click)="openNpm()" matTooltip="NPM" matTooltipPosition="above"></fa-icon>
    <fa-icon size="lg" [icon]="faGithub" (click)="openGithub()" matTooltip="Gitbub" matTooltipPosition="above">
    </fa-icon>
    <fa-icon size="lg" [icon]="faLinkedin" (click)="openLinkedIn()" matTooltip="Linkedin" matTooltipPosition="above">
    </fa-icon>
    <fa-icon size="lg" [icon]="faStackOverflow" (click)="openStackOverflow()" matTooltip="Stack Overflow"
      matTooltipPosition="above"></fa-icon>
  </div>

</footer>