@import '~normalize.css';

html, body {
  height: 100%;
  width: 100%;
}

body {
//   background: url(assets/bg.webp) no-repeat center center;
//   background-size: cover;
  // backdrop-filter: brightness(25%);
}

@media screen and (max-width: 480px) {
  body {
    background-position: 60% 50%;
  }
}

* {
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.xterm {
  padding: 5px !important;
    /* width */
  ::-webkit-scrollbar {
    width: 10px;
    display: none !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: none !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    display: none !important;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    display: none;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
